@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: var(--background-color);
  color: var(--font-color);
}

span {
  color: var(--base-color);
}

.divider {
  height: 1px;
  background: linear-gradient(90deg, hsla(268, 78%, 52%, 1) 0%, hsla(0, 0%, 13%, 1) 100%);
}

.divider-2 {
  height: 1px;
  background: linear-gradient(90deg, hsla(0, 0%, 13%, 1) 0%, hsla(268, 78%, 52%, 1) 100%);
}

.home,
.linkHome,
#aboutMe,
#contact,
#projects {
  margin-left: 2rem;
}

:root {
  --font-color: #FFFF;
  --background-color: #212121;
  --base-color: #7f26e4;
  --purp: #853adb;
}

/* TITLE AND LOGO */
.title {
  font: 500 1.5rem 'Poppins', sans-serif;
  color: var(--font-color);
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.titleLink {
  font: 500 1rem 'Poppins', sans-serif;
  font-style: italic;
  color: var(--font-color);
  margin: 0 0.3rem;
  transition: color 0.5s;
}

.titleLink:hover {
  color: gray;
}

.titleLink:first-child {
  border-right: 1px solid gray;
  padding-right: 0.8rem;
}

.logo {
  font: 700 1.5rem 'Poppins', sans-serif;
  letter-spacing: 2px;
  color: var(--font-color);
  margin-left: 1rem;

  transition: color 0.7s;
}

/*----- HEADER -----*/
#header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 4rem;
  padding: 1rem 0;
  top: 0;
  left: 0;
  z-index: 100;

  border-bottom: 1px solid #333333;
}

#header.scroll {
  margin-bottom: 5rem;
  background: #333333;
  transition: background 0.4s;
  box-shadow: 0px 0px 10px rgba(231, 226, 226, 0.1);
}

.rightHeader {
  display: inline-block;
  margin-left: 2.1rem;
}

/*---- HOME -----*/
#home {
  margin: 10rem 0 6rem 0;
}

.home h1 {
  width: 12rem;
  padding: 0.5rem;
  border-radius: 3px;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  0% {
    top: 0px;
    left: 0px;
    background: var(--base-color);
    width: 14rem;
    color: #fff;
  }

  25% {
    top: 0px;
    left: 100px;
    background: var(--purp);
    width: 20rem;
    color: #fff;
  }

  50% {
    top: 0;
    left: 200px;
    background: #8b47da;
    width: 20rem;
    color: rgb(37, 37, 37);
  }

  75% {
    top: 0;
    left: 200px;
    background: #a560f3;
    width: 20rem;
    color: rgb(22, 22, 22);
  }

  100% {
    top: 0px;
    left: 200px;
    background: #b382ec;
    width: 14rem;
    color: #000;
  }
}

.home legend {
  font: 500 0.9rem 'DM Sans', sans-serif;
  letter-spacing: 1px;
  color: #d4d3d3;
  padding-top: 0.4rem;
}

.linkHome {
  display: flex;
  margin-top: 2.7rem;
}

.link {
  width: auto;
  height: auto;
  padding: 0.7rem 1.7rem;
  display: inline-block;
  border-radius: 7px;
  outline: none;
  color: #FFF;
  font: 500 0.8rem 'Poppins', sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

.buttonDownloadCv {
  background: transparent;
  border: 1px solid #7f26e4;
  margin-right: 0.5rem;

  transition: background 0.8s;
}

.buttonDownloadCv:hover {
  background: #7f26e4;
}

.buttonPleaseContact {
  background: #333333;
  padding-top: 13px;

  transition: background 0.8s;
}

.buttonPleaseContact:hover {
  background: transparent;

  border: 1px solid #333333;
}

/* ABOUT ME  */
#aboutMe {
  text-align: left;
  margin-top: 3rem;
}

.text {
  width: 22rem;
}

.text p {
  font: 400 0.8rem 'Poppins', sans-serif;
  letter-spacing: 1px;
}

/* CONTACTS */
#contact {
  justify-content: center;
  margin: 2rem 0;
}

.contacts {
  text-align: center;
  margin-left: 2rem;
}

table tr td {
  padding: 1.5rem;
}

.linksContacts h1 {
  font: 700 0.8rem 'Poppins', sans-serif;
  margin: 0.2rem 0;
}

.linksContacts p {
  font: 500 0.7rem 'Poppins', sans-serif;
  color: #9c9999;
}

.contacts i {
  font-size: 1.3rem;
  font-weight: lighter;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 100px;

  display: inline-block;
  padding: 1rem 1.5rem;
  margin-bottom: 0.5rem;

  animation: myIcons 3s infinite;
}

@keyframes myIcons {
  0% {
    color: var(--base-color);
    border-color: #7f26e4;
  }

  25% {
    transform: translateY(-12px)
  }
}

/* CARDS - PROJECTS */
#projects {
  margin-top: 3rem;
}

.cards {
  margin: 0 0 3rem 1.8rem;
}

.card {
  background: #383535;
  box-shadow: 0px 0px 12px rgba(226, 222, 222, 0.08);
  border-bottom: 0.25rem solid #FFF;
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
  margin: 1.3rem 0;

  padding: 1rem 0;
  width: 18rem;

  transition: 0.7s;
  cursor: pointer;
}

.card video {
  width: 17rem;
}

.card figure {
  font: 500 0.7rem 'Poppins';
  padding: 0.8rem 0 0 1.4rem;
  text-align: left;
}

.card:hover {
  transform: scale(1.1);
  border-color: var(--base-color);
}

/*------ MIN WIDTH 450PX -----*/
@media (min-width: 450px) {

  /*--- header ---*/
  .rightHeader {
    margin-left: 6rem;
  }

  /*--- home = keyframes ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 14rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 23rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 23rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 23rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 14rem;
      color: #000;
    }
  }

  /*--- about me -----*/
  .text {
    width: 25rem;
  }

  /*--- cards and contacts ---*/
  .contacts {
    margin-left: 3.5rem;
  }

  .card {
    margin-left: 1.4rem;
  }
}

/*------ MIN WIDTH 470PX -----*/
@media (min-width: 470px) {

  .home,
  .linkHome,
  #aboutMe,
  #projects {
    margin-left: 2.5rem;
  }

  .title {
    font-size: 1.7rem;
  }

  /*-- header --*/
  .rightHeader {
    margin-left: 7rem
  }

  /*--- card ---*/
  .card {
    margin-left: 1rem;
  }
}

/*------ MIN WIDTH 500PX -----*/
@media (min-width: 500px) {

  /*--- header ---*/
  .rightHeader {
    margin-left: 10rem;
  }

  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 27rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 27rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 27rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }

  /*--- cards and contacts ---*/
  .card {
    margin-left: 3rem;
  }

  .contacts {
    margin-left: 5rem;
  }
}

/*------ MIN WIDTH 550PX -----*/
@media (min-width: 550px) {

  .home,
  .linkHome,
  #aboutMe,
  #contact,
  #projects {
    margin-left: 3rem;
  }

  /*--- header ---*/
  .rightHeader {
    margin-left: 12rem;
  }

  /*-- home ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 29rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 29rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 29rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }

  /*--- about me ---*/
  .text {
    width: auto;
    margin-right: 2rem;
  }

  /*--- contacts and cards ---*/
  .contacts,
  .card {
    margin-left: 4rem;
  }
}

/*------ MIN WIDTH 600PX -----*/
@media (min-width: 600px) {

  /*--- header ---*/
  .rightHeader {
    margin-left: 16rem;
  }

  /*--- home ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 31rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 31rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 31rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }

  /*--- contacts and card ---*/
  .contacts,
  .card {
    margin-left: 6rem;
  }
}

/*------ MIN WIDTH 650PX -----*/
@media (min-width: 650px) {

  .home,
  .linkHome,
  #aboutMe,
  #contact,
  #projects {
    margin-left: 3rem;
  }

  /*--- header ---*/
  .rightHeader {
    margin-left: 19rem;
  }

  /*--- home ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 34rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 34rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 34rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }

  /*--- about me ---*/
  .contacts {
    margin-left: 6rem;
  }

  /*--- cards ---*/
  .card {
    width: 23rem;
    margin-left: 5rem;
  }

  .card video {
    width: 22rem;
  }

  .card figure {
    font: 500 0.8rem 'Poppins';
  }
}

/*------ MIN WIDTH 700PX -----*/
@media (min-width: 700px) {

  /*--- header ---*/
  .rightHeader {
    margin-left: 22rem;
  }

  /*--- home ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 39rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 39rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 39rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }

  /*--- about me ---*/
  .contacts {
    margin-left: 10rem;
  }

  /*--- cards ---*/
  .card {
    margin-left: 7rem;
  }
}

/*------ MIN WIDTH 750PX -----*/
@media (min-width: 750px) {

  /*--- header ---*/
  .rightHeader {
    margin-left: 24rem;
  }

  /*--- home ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 42rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 42rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 42rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }

  /*--- about me ---*/
  .contacts {
    margin-left: 11rem;
  }

  /*-- card ---*/
  .card {
    margin-left: 8rem;
  }
}

/*------ MIN WIDTH 800PX -----*/
@media (min-width: 800px) {

  /*--- header ---*/
  .rightHeader {
    margin-left: 28rem;
  }

  /*--- home ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 45rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 45rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 45rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }

  /*--- about me ---*/
  .contacts {
    margin-left: 12rem;
  }

  /*--- cards ---*/
  #projects {
    margin: 0;
  }

  #projects h1 {
    margin: 3rem 0 2rem 3rem;
  }

  .cards {
    display: flex;
    margin-right: 1rem;
  }

  .card {
    width: 15rem;
    margin: 0 10px;
  }

  .card video {
    width: 14rem;
  }
}

/*------ MIN WIDTH 850PX -----*/
@media (min-width: 850px) {

  /*--- header ---*/
  .rightHeader {
    margin-left: 31rem;
  }

  /*--- home ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 48rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 48rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 48rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }

  /*--- about me ---*/
  .contacts {
    margin-left: 15rem;
  }

  /*---- cards ----*/
  .card {
    width: 18rem;
    margin: 0 10px;
  }

  .card video {
    width: 16rem;
  }
}

/*------ MIN WIDTH 900PX -----*/
@media (min-width: 900px) {

  .title,
  .logo {
    font-size: 1.8rem;
  }

  /*--- header ---*/
  #header {
    height: 5rem;
  }

  .rightHeader {
    margin-left: 33rem;
  }

  /*--- home ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 51rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 51rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 51rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }

  /*--- about me ---*/
  .contacts {
    margin-left: 15rem;
  }
}

/*------ MIN WIDTH 950PX -----*/
@media (min-width: 950px) {

  /*--- header ---*/
  .rightHeader {
    margin-left: 36rem;
  }

  /*--- home ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 54rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 54rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 54rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }

  /*--- about me ---*/
  .contacts {
    margin-left: 10rem;
  }

  table tr td {
    padding: 2rem 4rem;
  }

  .linksContacts i {
    font-size: 1.3rem;
  }

  .linksContacts h1,
  .linksContacts p {
    font-size: 0.9rem;
  }
}

/*------ MIN WIDTH 1000PX -----*/
@media (min-width: 1000px) {

  /*--- header ---*/
  .rightHeader {
    margin-left: 40rem;
  }

  /*--- home ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 57rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 57rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 57rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }

  /*--- about me ---*/
  .contacts {
    margin-left: 12rem;
  }

  /*--- card ---*/
  .card {
    width: auto;
    padding: 1rem 0.2rem;
  }

  .card video {
    width: 17rem;
  }
}

/*------ MIN WIDTH 1050PX -----*/
@media (min-width: 1050px) {

  /*--- header ---*/
  .rightHeader {
    margin-left: 43rem;
  }

  /*--- home ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 61rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 61rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 61rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }

  /*--- about me ---*/
  .contacts {
    margin-left: 13rem;
  }

  .card {
    width: 30rem;
  }

  .card video {
    width: 19rem;
  }

  .card figure {
    font-size: 0.9rem;
  }
}

/*------ MIN WIDTH 1100PX -----*/
@media (min-width: 1100px) {

  .title,
  .logo {
    font-size: 1.8rem;
  }

  .titleLink {
    font-size: 1.2rem;
  }

  .home,
  .linkHome,
  #aboutMe,
  #contact {
    margin: 3rem 2rem 3rem 3rem;
  }

  /*----- HEADER -----*/
  #header {
    padding: 1rem;
  }

  .rightHeader {
    margin-left: 42rem;
  }

  /*---- HOME -----*/
  .home legend {
    font-size: 1rem;
    letter-spacing: 2px;
  }

  .link {
    padding: 0.9rem 3rem;
    font-size: 1rem;
  }

  /*--- home ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 22rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 64rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 64rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;


      background: #a560f3;
      width: 64rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 22rem;
      color: #000;
    }
  }

  /*--- about me ---*/
  .text p {
    font-size: 0.9rem;
  }

  .contacts {
    margin-left: 12rem;
  }

  .linksContacts i {
    font-size: 1.7rem;
  }

  .linksContacts h1,
  .linksContacts p {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  /*--- cards ---*/
  #projects {
    margin: 3rem 0 2rem 0;
  }

  .card {
    width: 22rem;
    margin-left: 1rem;
  }

  .card video {
    width: 19.5rem;
    height: auto;
  }
}

/*---- MIN WIDTH 1150PX ----*/
@media (min-width: 1150px) {

  /*--- header ---*/
  .rightHeader {
    margin-left: 45rem;
  }

  /*--- home ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 22rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 67rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 67rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 67rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 22rem;
      color: #000;
    }
  }

  /*--- contact ---*/
  .contacts {
    margin-left: 14rem;
  }

  /*--- card ---*/
  .card video {
    width: 20.5rem;
  }
}

/*--- MIN WIDTH 1200PX ---*/
@media (min-width: 1200px) {

  /*--- header ---*/
  .rightHeader {
    margin-left: 49rem;
  }

  /*--- home ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 22rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 70rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 70rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 70rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 22rem;
      color: #000;
    }
  }

  /*--- contact ---*/
  .contacts {
    margin-left: 16rem;
  }

  /*--- card ---*/
  .card {
    width: 24rem;
  }

  .card video {
    width: 21rem;
  }
}

/*--- MIN WIDTH 1250PX ---*/
@media (min-width: 1250px) {

  /*--- header ---*/
  .rightHeader {
    margin-left: 51rem;
  }

  /*--- home ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 22rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 72rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 72rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 72rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 22rem;
      color: #000;
    }
  }

  /*--- contact ---*/
  .contacts {
    margin-left: 18rem;
  }

  /*--- card ---*/
  .card {
    width: 26rem;
  }

  .card video {
    width: 22rem;
  }
}

/*--- MIN WIDTH 1270PX ---*/
@media (min-width: 1270px) {

  /*--- header ---*/
  .rightHeader {
    margin-left: 53rem;
  }

  /*--- home ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 22rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 75rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 75rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 75rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 22rem;
      color: #000;
    }
  }

  /*--- contact ---*/
  .contacts {
    margin-left: 20rem;
  }

  /*--- card ---*/
  .card {
    width: 28rem;
  }

  .card video {
    width: 23rem;
  }
}

/*--- MIN WIDTH 1300PX ---*/
@media (min-width: 1300px) {

  /*--- header ---*/
  .rightHeader {
    margin-left: 55rem;
  }

  /*--- home ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 22rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 77rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 77rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 77rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 22rem;
      color: #000;
    }
  }

  /*--- contact ---*/
  .contacts {
    margin-left: 21rem;
  }

  /*--- card ---*/
  .card {
    width: 29rem;
  }

  .card video {
    width: 24rem;
  }
}