@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: var(--background-color);
  color: var(--font-color);
}

span {
  color: var(--base-color);
}

.divider {
  height: 1px;
  background: linear-gradient(
    90deg,
    hsla(268, 78%, 52%, 1) 0%,
    hsla(0, 0%, 13%, 1) 100%
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 13%, 1) 0%,
    hsla(268, 78%, 52%, 1) 100%
  );
}

:root {
  --font-color: #ffff;
  --background-color: #212121;
  --base-color: #7f26e4;
  --purp: #853adb;
}

/*! TITLE AND LOGO */
.title {
  font: 500 1.5rem "Poppins", sans-serif;
  color: var(--font-color);
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

.titleLink {
  font: 500 1rem "Poppins", sans-serif;
  font-style: italic;
  color: var(--font-color);
  margin: 0 0.3rem;
  transition: color 0.5s;
}

.titleLink:hover {
  color: gray;
}

.titleLink:first-child {
  border-right: 1px solid gray;
  padding-right: 0.8rem;
}

.logo {
  font: 700 1.5rem "Poppins", sans-serif;
  letter-spacing: 2px;
  color: var(--font-color);
  margin-left: 1rem;

  transition: color 0.7s;
}

/*! HEADER */
#header {
  position: fixed;
  width: 100%;
  height: 4rem;
  padding: 1rem 0;
  top: 0;
  left: 0;
  z-index: 100;

  border-bottom: 1px solid #333333;
}

#header.scroll {
  margin-bottom: 5rem;

  background: #333333;
  box-shadow: 0px 0px 10px rgba(231, 226, 226, 0.1);

  transition: background 0.4s;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 0.7rem;
}

/*! HOME */
#home {
  margin: 9rem 0 6rem 2.2rem;
}

#home h1 {
  width: 12rem;
  padding: 0.5rem;
  border-radius: 3px;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  0% {
    top: 0px;
    left: 0px;
    background: var(--base-color);
    width: 14rem;
    color: #fff;
  }

  25% {
    top: 0px;
    left: 100px;
    background: var(--purp);
    width: 20rem;
    color: #fff;
  }

  50% {
    top: 0;
    left: 200px;
    background: #8b47da;
    width: 20rem;
    color: rgb(37, 37, 37);
  }

  75% {
    top: 0;
    left: 200px;
    background: #a560f3;
    width: 20rem;
    color: rgb(22, 22, 22);
  }

  100% {
    top: 0px;
    left: 200px;
    background: #b382ec;
    width: 14rem;
    color: #000;
  }
}

#home legend {
  font: 500 0.9rem "DM Sans", sans-serif;
  letter-spacing: 1px;
  color: #d4d3d3;
  padding-top: 0.4rem;
}

#home nav {
  display: flex;
  margin-top: 2.7rem;
}

.link {
  padding: 0.7rem 1.7rem;
  display: inline-block;
  text-align: center;

  font: 500 0.8rem "Poppins", sans-serif;
  color: #fff;
  letter-spacing: 1px;
  border-radius: 7px;
  outline: none;
}

.buttonDownloadCv {
  margin-right: 0.5rem;

  background: transparent;
  border: 1px solid #7f26e4;

  transition: background 0.8s;
}

.buttonDownloadCv:hover {
  background: #7f26e4;
}

.buttonPleaseContact {
  padding-top: 13px;

  background: #333333;

  transition: background 0.8s;
}

.buttonPleaseContact:hover {
  background: transparent;
  border: 1px solid #333333;
}

/*! ABOUT ME  */
#aboutMe {
  text-align: left;
  margin: 2.5rem 2rem 2rem 2.5rem;
}

.text p {
  font: 400 0.8rem "Poppins", sans-serif;
  letter-spacing: 1px;
  line-height: 1.4rem;
}

/*! CONTACTS */
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.contacts {
  text-align: center;
}

.contacts table tr td {
  padding: 1.5rem;
}

.contacts h1 {
  font: 700 0.8rem "Poppins", sans-serif;
  margin: 0.2rem 0;
}

.contacts p {
  font: 500 0.7rem "Poppins", sans-serif;
  color: #9c9999;
}

.contacts i {
  display: inline-block;
  padding: 1rem 1.5rem;
  margin-bottom: 0.5rem;

  font-size: 1.3rem;
  font-weight: lighter;
  border: 1px solid #fff;
  border-radius: 100px;
  color: #fff;

  animation: myIcons 3s infinite;
}

@keyframes myIcons {
  0% {
    color: var(--base-color);
    border-color: #7f26e4;
  }

  25% {
    transform: translateY(-12px);
  }
}

/*! SKILLS */
.skills {
  margin: 4rem 0 4rem 2.5rem;
}

.images {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.images img{
  width: 5rem;
  padding: 0 1rem;
}

.images img:hover {
  border-radius: 10px;
  border-bottom: 1px solid #7f26e4;
}


/*! CARDS - PROJECTS */
#projects {
  margin: 2rem 0 4rem 2.5rem;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1.3rem 0.5rem;
  width: 18rem;

  background: #383535;
  box-shadow: 0px 0px 12px rgba(226, 222, 222, 0.08);
  border-bottom: 0.25rem solid #fff;
  border-radius: 0.25rem 0.25rem 0 0;

  transition: 0.7s;
  cursor: pointer;
}

.card video {
  width: 18rem;
}

.card figure {
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;

  font: 500 0.7rem "Poppins";
}

.card:hover {
  transform: scale(1.1);
  border-color: var(--base-color);
}

/*!------ MIN WIDTH 450PX -----*/
@media (min-width: 450px) {
  /*?--- home = keyframes ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 14rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 23rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 23rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 23rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 14rem;
      color: #000;
    }
  }
}

/*------ MIN WIDTH 550PX -----*/
@media (min-width: 550px) {
  /*-- home ---*/
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 29rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 29rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 29rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }
}

/*------ MIN WIDTH 600PX -----*/
@media (min-width: 600px) {
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 31rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 31rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 31rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }
}

/*------ MIN WIDTH 650PX -----*/
@media (min-width: 650px) {
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 34rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 34rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 34rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }
}

/*------ MIN WIDTH 700PX -----*/
@media (min-width: 700px) {
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 39rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 39rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 39rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }
}

/*------ MIN WIDTH 750PX -----*/
@media (min-width: 750px) {
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 42rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 42rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 42rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }
}

/*------ MIN WIDTH 800PX -----*/
@media (min-width: 800px) {
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 45rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 45rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 45rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }
}

/*------ MIN WIDTH 850PX -----*/
@media (min-width: 850px) {
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 48rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 48rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 48rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }

  .images img{
    width: 7rem;
    padding: 0 1rem;
  }
  
}

/*------ MIN WIDTH 900PX -----*/
@media (min-width: 900px) {
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 51rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 51rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 51rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }

  .cards {
    flex-direction: row;
  }

  .card {
    width: 17rem;
    height: 13rem;
  }

  .card video {
    width: 17rem;
  }
}

/*------ MIN WIDTH 950PX -----*/
@media (min-width: 950px) {
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 54rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 54rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 54rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }
}

/*------ MIN WIDTH 1000PX -----*/
@media (min-width: 1000px) {
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 57rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 57rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 57rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }

  .card {
    width: 25rem;
    height: 15rem;
  }

  .card video {
    width: 25rem;
    height: 11rem;
  }

  .card figure {
    padding: 0.8rem 0;
  }
}

/*------ MIN WIDTH 1050PX -----*/
@media (min-width: 1050px) {
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 17rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 61rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 61rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 61rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 17rem;
      color: #000;
    }
  }
}

/*------ MIN WIDTH 1100PX -----*/
@media (min-width: 1100px) {
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 22rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 64rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 64rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;

      background: #a560f3;
      width: 64rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 22rem;
      color: #000;
    }
  }
}

/*---- MIN WIDTH 1150PX ----*/
@media (min-width: 1150px) {
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 22rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 67rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 67rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 67rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 22rem;
      color: #000;
    }
  }
}

/*--- MIN WIDTH 1200PX ---*/
@media (min-width: 1200px) {
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 22rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 70rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 70rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 70rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 22rem;
      color: #000;
    }
  }
}

/*--- MIN WIDTH 1250PX ---*/
@media (min-width: 1250px) {
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 22rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 72rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 72rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 72rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 22rem;
      color: #000;
    }
  }
}

/*--- MIN WIDTH 1270PX ---*/
@media (min-width: 1270px) {
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 22rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 75rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 75rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 75rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 22rem;
      color: #000;
    }
  }
}

/*--- MIN WIDTH 1300PX ---*/
@media (min-width: 1300px) {
  @keyframes mymove {
    0% {
      top: 0px;
      left: 0px;
      background: var(--base-color);
      width: 22rem;
      color: #fff;
    }

    25% {
      top: 0px;
      left: 100px;
      background: var(--purp);
      width: 77rem;
      color: #fff;
    }

    50% {
      top: 0;
      left: 200px;
      background: #8b47da;
      width: 77rem;
      color: rgb(37, 37, 37);
    }

    75% {
      top: 0;
      left: 200px;
      background: #a560f3;
      width: 77rem;
      color: rgb(22, 22, 22);
    }

    100% {
      top: 0px;
      left: 200px;
      background: #b382ec;
      width: 22rem;
      color: #000;
    }
  }
}
